In [1]:
import mysql.connector
import webbrowser

# Get mysql connection

In [2]:
def connection():
    mydb = mysql.connector.connect(host='localhost', user='ashish', password='ashishgavit@007', database='mydatabase')
    return mydb

# Create a table called 'employee'

In [3]:
mydb = connection()
mycursor = mydb.cursor()
mycursor.execute('drop table if exists employee')
mycursor.execute('create table if not exists employee (\
                id int(11) not null auto_increment primary key,\
                name varchar(150) not null,\
                email varchar(150) not null,\
                phone varchar(100) not null)')
mycursor.execute('show tables')
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('customer',)
('employee',)
('products',)
('users',)

# Insert into table employee

In [4]:
def insertData(sql, val=''):
    mydb = connection()
    mycursor = mydb.cursor()
    if val == '':
        mycursor.execute(sql)
        mydb.commit()
    else:
        mycursor.executemany(sql, val)
        mydb.commit()
    print(mycursor.rowcount, 'record(s) inserted')
    mydb.close()

In [5]:
sql = 'insert into employee (name, email, phone) values (%s, %s, %s)'
val = [
    ('John', 'john@example.com', '23232345453'),
    ('Smith', 'smith@example.com', '9898577442'),
    ('Priska', 'priska@example.com', '9393452387'),
    ('Gaga', 'gaga@example.com', '8482764537')
]
insertData(sql, val)

4 record(s) inserted

In [6]:
def viewRecords(sql):
    mydb = connection()
    mycursor = mydb.cursor()
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
    return myresult

In [7]:
sql = 'select * from employee'
myresult = viewRecords(sql)
for x in myresult:
    print(x)

(1, 'John', 'john@example.com', '23232345453')
(2, 'Smith', 'smith@example.com', '9898577442')
(3, 'Priska', 'priska@example.com', '9393452387')
(4, 'Gaga', 'gaga@example.com', '8482764537')

# Display on a web browser

In [8]:
p = []
tbl = '<tr><th>ID</th><th>Name</th><th>Email</th><th>Phone</th></tr>'
p.append(tbl)
sql = 'select * from employee'
myresult = viewRecords(sql)
for row in myresult:
    p.append('<tr>')
    for r in row:
        data = "<td>%s</td>"%str(r)
        p.append(data)
    p.append('</tr>')
contents = """<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
        <html>
        <head>
        <meta content="text/html; charset=ISO-8859-1"
        http-equiv="content-type">
        <title>Python Webbrowser</title>
        </head>
        <body>
        <table>
        %s
        </table>
        </body>
        </html>
    """%(p)
filename = 'webbrowser.html'

def main(contents, filename):
    output = open(filename,"w")
    output.write(contents)
    output.close()

main(contents, filename)    
webbrowser.open(filename)

if(mydb.is_connected()):
    mycrsor.close()
    mydb.close()
    print("MySQL connection is closed.")

NameError: name 'myursor' is not defined